* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(130deg, #de6262, #ffb88c);
  padding: 5% 15%;
  color: #ffff;
}

.container h1 {
  display: flex;
  align-items: center;
  flex-basis: 5%;
  padding: 20px 5px;
}
.container i {
  flex-basis: 5%;
}

.btn {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: linear-gradient(130deg, #eb3349, #f45c43);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn i {
  margin-right: 8px;
  font-size: 14px;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background-color: #ffff;
  color: #333;
  padding: 20px;
  margin: 20px 0 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.input-box img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 20px;
  cursor: pointer;
}
